#schedule_table a, a:visited{color: #000; text-decoration: underline;}
#schedule_table .schedule_table_body_row_alt a{color:#fff}
#schedule_table .schedule_table_body_row_past a{color:#555}
#schedule_table .schedule_table_body_row_past_alt a{color:#555}
#schedule_table a:hover{color: #C00; text-decoration: underline;}

.schedule_table{width: 100%; border-bottom: 1px solid #121212; border-right: 1px solid #121212; margin-bottom: 5px;}
.schedule_table a:hover{color: #000; text-decoration: underline;}

.schedule_table a{color: #000;}
.schedule_table tr{ padding: 5px 0;}
.schedule_table tbody tr:hover{}
.schedule_table tr td, .schedule_table tr th{ padding: 10px; }
.schedule_table tr td{border-left: 1px solid #121212; border-bottom: 1px solid #121212; font-weight: bold;}
.schedule_table_head{}
.schedule_table_head_row{ background-color: #121212; }
.schedule_table_head_cell, .schedule_table_foot_cell{font-weight: bold; color:#000; font-size: 16px; color:#fff; }

.schedule_table_foot{}
.schedule_table_foot_row{}
.schedule_table_foot_cell{}

.schedule_table_body_row{ background-color: #efefef; }
.schedule_table_body_row_alt{ background-color: #333;}
.schedule_table_body_row_alt .schedule_table_body_cell{ color: #fff;}

.schedule_table_body_row_current{ background-color: #fff; }
.schedule_table_body_row_current .schedule_table_body_cell{ color: #A00; font-size: 18px; padding: 15px; text-align: center }


.schedule_table_body_row_past{ background-color: #dfdfdf;}
.schedule_table_body_row_past_alt{ background-color: #aaa;}

.schedule_table_body_row_past .schedule_table_body_cell{ color: #888;}
.schedule_table_body_row_past_alt .schedule_table_body_cell{ color: #888;}

.schedule_table_body_cell{ color:#000; font-size: 12px;}
.schedule_table_body_cell_link{ text-decoration: underline; font-weight: normal;}
.schedule_table_body_cell_span{}
.schedule_result{ text-align: center;}

ul#schedule_list { border: 1px solid #121212; }
ul#schedule_list a, a:visited{color: #000; text-decoration: underline;}
ul#schedule_list a:hover{color: #C00; text-decoration: underline;}
ul#schedule_list li { padding:15px; font-size: 18px;}
ul#schedule_list li.game_li{ background-color: #efefef; color:#000;}
ul#schedule_list li.game_li_alt{ background-color: #333; color:#fff; }
ul#schedule_list div.schedule_list_left{  text-align: left; float: left;}
ul#schedule_list div.schedule_list_right{  text-align: right;}
ul#schedule_list li span.schedule_list_date { font-size: 14px; margin-right: 15px; }

.schedule_next_game{ border:1px solid #C00; font-size: 22px; color:#A00; background-color: #FFF; padding:20px; margin: 0 0 10px 0; }

#schedule_divs{ background-color: #fff; padding: 15px;}
#schedule_divs h3.week_date{ font-weight:bold; font-size:20px; padding-bottom:10px}
#schedule_divs .schedule_game_div{ padding:5px 5px;  border-bottom: 1px solid #999; }
#schedule_divs .schedule_game_info{ float: left; text-align: left; width:330px; padding-left:15px}
#schedule_divs .schedule_game_opponent{  font-weight: bold; font-size: 18px; padding:0 0 10px 0;}
#schedule_divs .schedule_game_date{ font-weight: bold; font-size: 14px; padding:10px 0;}
#schedule_divs .schedule_game_venue{ font-size: 14px; padding:10px 0;}
#schedule_divs .schedule_game_result{ font-size: 14px; padding:10px 0 0 0; text-align: left;}
#schedule_divs .schedule_game_result_record{ font-size: 42px; padding:0 0 0 0; text-align: left;}
#schedule_divs .win{ color: #0A0; font-weight: bold; }
#schedule_divs .loss{ color: #A00; }
#schedule_divs .draw{ }
#schedule_divs .next_game{ background: url(images/current-game-bg.png) repeat-x bottom; }